.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  font-size: 14px;
  line-height: 16px;
  background-color: #272822;
}
.highlight .gutter pre {
  width: 40px;
  color: #90908a;
  text-align: center;
}
.highlight .line {
  min-height: 20px;
}
.highlight,
.highlight .tag,
.highlight .subst {
  color: #f8f8f2;
}
.highlight .strong,
.highlight .emphasis {
  color: #a8a8a2;
}
.highlight .bullet,
.highlight .quote,
.highlight .number,
.highlight .regexp,
.highlight .literal,
.highlight .link {
  color: #ae81ff;
}
.highlight .code,
.highlight .title,
.highlight .section,
.highlight .selector-class {
  color: #fff;
}
.highlight .strong {
  font-weight: bold;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .name {
  color: #f92672;
}
.highlight .attr {
  color: #e6db74;
}
.highlight .symbol,
.highlight .attribute {
  color: #66d9ef;
}
.highlight .params {
  color: #fd9720;
}
.highlight .class .title,
.highlight .function .title {
  color: #a6e22e;
}
.highlight .string,
.highlight .type,
.highlight .built_in,
.highlight .builtin-name,
.highlight .selector-id,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .addition,
.highlight .variable,
.highlight .template-variable {
  color: #e6db74;
}
.highlight .comment,
.highlight .deletion,
.highlight .meta {
  color: #75715e;
}
.markdown-body .highlight table {
  margin-bottom: 0;
}
.markdown-body .highlight table tr {
  background-color: transparent;
  border-top: none;
}
.markdown-body .highlight table td {
  padding: 0;
  border: none;
}
.markdown-body .highlight pre {
  padding: 0;
  overflow: auto;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  border-radius: 0;
}
